* {
  margin: 0;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;
}
body {
  background-color: fff;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5;
  letter-spacing: -0.01em;
  font-weight: 400;
}
a {
  color:#000;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
p {
  margin:5px 0;
  line-height: 1.7;
}
.navbar {
  width: 100%;
  height: auto;
  padding: 20px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 
    0 2px 2px rgb(0 0 0 / 6%), 
    0 0 2px rgb(0 0 0 / 7%);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar li {
  font-weight: bold;
  margin:0 15px; 
}
.navbar a {
  text-decoration: none;
}
.navbar-nav-brand img {
  width: 50px;
  height: 50px;
}
.navbar-nav-left {
  text-transform: uppercase;
  flex:1;
  margin-left:20px;
}
.navbar-nav-right li:first-child a{
  display: flex;
  align-items: center;
}
.navbar-nav-right img{
  width: 20px;
  height: 20px;
  margin-right:20px;
}
/* button */

.button {
  padding: 7px 16px;
  border: solid;
  border-width: 1px;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
  display: inline-block;
  font-weight: 600;
  line-height: 1.2em;
}
#sign-in {
  background-color: fff;
  color: black;
}
#join-now {
  background-color: black;
  color: ffffff;
}
.first-block {
  font-size: 20px;
  line-height: 2em;
  background-color: #1e3932;
  box-sizing: border-box;
  display: inline-block;
  color: fff;
  margin: 31px 0;
}
.first-block img {
  width: 50%;
  float: left;
}
#first-block-text {
  padding: 160px 90px;
  text-align: center;
  line-height: 1.3;
}
.heading2 {
  letter-spacing: 1;
  font-size: 52px;
}
.inner-text {
  font-size: 24px;
  letter-spacing: 0.2;
}
#play-now {
  font-size: 16px;
  background-color: #1e3932;
  color: #fff;
  margin-top: 40px;
}
.second-block {
  background-color: #d50032;
  font-size: 20px;
  line-height: 2em;
  box-sizing: border-box;
  display: flex;
  color: #fff;
  margin-bottom: 31px;
}
.second-block-text {
  padding: 160px 90px;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0.1em;
  width: 60%;
}
.second-block .second-block-text .inner-text {
  font-size: 24px;
  letter-spacing: 0.2;
}
.second-block img {
  width: 80%;
  float: right;
}
#order-now {
  font-size: 16px;
  background-color: #d50032;
  color: #fff;
  margin-top: 40px;
}
.third-block {
  font-size: 20px;
  line-height: 2em;
  background-color: #00b388;
  box-sizing: border-box;
  display: inline-block;
  color: #1e3932;
  margin: 31px 0;
}
.third-block img {
  width: 50%;
  float: left;
}
#third-block-text {
  padding: 160px 90px;
  text-align: center;
  line-height: 1.3;
}
.heading2 {
  letter-spacing: 1;
  font-size: 52px;
}
.inner-text {
  font-size: 24px;
  letter-spacing: 0.2;
}
.fourth-block {
  background-color: #006241;
  font-size: 20px;
  line-height: 2em;
  box-sizing: border-box;
  display: flex;
  color: #fff;
  margin-bottom: 31px;
}
.fourth-block-text {
  padding: 90px 90px;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0.1em;
  width: 60%;
}
.fourth-block .fourth-block-text .inner-text {
  font-size: 24px;
  letter-spacing: 0.2;
}
.fourth-block img {
  width: 80%;
  float: right;
}
#order-now {
  font-size: 16px;
  background-color: #d50032;
  color: #fff;
  margin-top: 40px;
}
.fifth-block {
  font-size: 20px;
  line-height: 2em;
  background-color: #1e3932;
  box-sizing: border-box;
  display: flex;
  color: #fff;
  margin: 31px 0;
}
.fifth-block img {
  width: 50%;
  float: left;
}
#fifth-block-text {
  padding: 90px 20px;
  text-align: center;
  line-height: 1.3;
}
.heading2 {
  letter-spacing: 1;
  font-size: 1.6em;
}
.inner-text {
  font-size: 24px;
  letter-spacing: 0.2;
}
.paragraph {
  margin: 30px 350px;
  text-align: center;
  display: block;
  color: black;
  box-sizing: inherit;
}
.paragraph a {
  text-decoration: underline;
  color: currentColor;
}
.paragraph a:hover {
  text-decoration: none;
}
/* footer css*/
footer {
  margin: 30px 20px 0 40px;
}
.early-footer {
  display: flex;
}
.early-footer h3 {
  padding-right: 60px;
  color: rgba(0, 0, 0, 0.87);
  padding-bottom: 20px;
}
.early-footer .inner-footer-heading a {
  display: block;
  color: rgba(0, 0, 0, 0.58);
  text-decoration: none;
  padding: 13px 40px 13px 0;
}
.footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 20px;
}
.footer .footer-icons a {
  font-size: 2rem;
  padding: 0 10px 0 0;
}
.footer p {
  padding: 20px 0 40px 0;
  color: rgba(0, 0, 0, 0.58);
  font-size: 15px;
}

